modules = ["go-1.24"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip", "nano"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "worldbanc-cli"

[[workflows.workflow]]
name = "worldbanc-cli"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash worldbanc/private/bin/worldbanc.sh"

[workflows.workflow.metadata]
outputType = "console"
